body{
    background-color: rgb(33, 37, 37);
}

header{
    color: rgb(39, 191, 228);
    text-decoration: underline;
}

h1{
    font-family: sans-serif;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

img{
    width: 70px;
    height: 70px;
}
.part-A{
    border: 2px solid white;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 25px;
}

.part{
    width: 30%;
}
